<div class="bg-red-100 p-4 rounded-md" *ngIf="user; else noUser">
  <div
    class="user_image rounded-sm justify-self-start"
    [style.background-image]="'url(' + user.picture.large"
  ></div>
  <div class="sub-title text-center px-4 font-bold">
    {{ user.name.title }} {{ user.name.first }} {{ user.name.last }}
  </div>
  <div class="email font-thin">{{ user.email }}</div>

  <div class="py-2">
    <button class="btn" (click)="addPerson(user)">Seleccionar ></button>
  </div>
</div>

<div class="py-2">
  <button class="btn" (click)="getData()">Generar Nuevo Usuario</button>
</div>

<ng-template #noUser>
  <div class="no-user bg-blue-100"></div>
</ng-template>
